/java/riorita/target
/java/test/.idea/.name
/java/test/.idea/compiler.xml
/java/test/.idea/copyright/profiles_settings.xml
/java/test/.idea/dictionaries/mike.xml
/java/test/.idea/encodings.xml
/java/test/.idea/gradle.xml
/java/test/.idea/libraries/Maven__com_codeforces_riorita_1_0_SNAPSHOT.xml
/java/test/.idea/libraries/Maven__commons_codec_commons_codec_1_10.xml
/java/test/.idea/libraries/Maven__junit_junit_4_11.xml
/java/test/.idea/libraries/Maven__log4j_log4j_1_2_17.xml
/java/test/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/java/test/.idea/misc.xml
/java/test/.idea/modules.xml
/java/test/.idea/scopes/scope_settings.xml
/java/test/.idea/uiDesigner.xml
/java/test/.idea/vcs.xml
/java/test/.idea/workspace.xml
/java/test/test.iml
/src/compact.obj
/src/protocol.obj
/src/riorita.log
/src/riorita.obj
/src/storage.obj
/java/riorita/native/riorita_engine.exp
/java/riorita/native/riorita_engine.lib
/java/riorita/native/riorita_engine.obj
/java/riorita/native/riorita_engine.pdb
/java/riorita/native/*.obj
